*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------utility classes-------- */
.inside-container{
    max-width:1000px;
    margin: 0 auto;
    padding: 0 10px;
}

/* -----end of utility classes----- */



li{
    list-style: none;
}

a{
    text-decoration: none;
}

.chatbot{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    justify-content:center;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
}